#go-top {
    font-size: vwPC(145);
    display: inline-block;
    z-index: 20;
    color: #7D7D7D;
    width: vwPC(180);
    height: vwPC(180);
    line-height: 30px;
    text-align: center;
    background: #000;
    background-size: 300% auto;
    position: fixed;
    bottom: vwPC(107);
    right: vwPC(130);
    cursor: pointer;
    border-radius: 0;
    color: #7D7D7D;
    border: 2px solid #7D7D7D;
}

footer {
    text-align: center;
}

.ft-view {
    padding: vwSP(100) 0;
}
.ft-top{
    position: relative;
    background: #358dcc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: vwSP(20) 0;
    .ft-brand{
        img{
            vertical-align: middle;
            margin-right: vwSP(10);
        }
    }
    .go-top{
        position: absolute;
        right: vwSP(20);
    }
}
.ft-mid{
    background:url(../../img/depart-bg.png);
    padding: vwSP(40) 0;
    .ft-menu{
        li{
            a{
                display: block;
                font-size: vwSP(30);
                color: #fff;
                padding: vwSP(15) 0;
            }
        }
    }
}
.ft-bot{
    background: #358dcc;
    min-height: vwSP(150);
    padding-top: vwSP(30);
}
.copy-r {
    font-size: 11px;
    color: #fff;
    opacity: .5;
    text-align: center;
    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: #ccc;
        }
    }
}

@include pc() {
    #go-top {
        font-size: vwPC(65);
        width: vwPC(80);
        height: vwPC(80);
    }
    footer {}
    .copy-r {
        margin-top: vwPC(25);
    }
}

@include lg() {
    #go-top {
        font-size: 65px;
        width: 80px;
        height: 80px;
    }
    footer {}
    .copy-r {
        margin-top: 25px;
    }
}