#go-top {
    font-size: vwPC(145);
    display: inline-block;
    z-index: 20;
    color: #fff;
    width: vwPC(180);
    height: vwPC(180);
    line-height: 30px;
    text-align: center;
    background: #80bbe3;
    background-size: 300% auto;
    position: fixed;
    bottom: vwPC(107);
    right: vwPC(130);
    cursor: pointer;
    border-radius: 0;
    border: 2px solid transparent;
}

footer {
    text-align: center;
}

.view-map {
    padding: vwSP(100) 0;
    >a{
        font-size: 0;
        display: block;
        margin-bottom: 30px;
    }
}
.ft-top{
    position: relative;
    background: #358dcc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: vwSP(20) 0;
    .ft-brand{
        img{
            vertical-align: middle;
            margin-right: vwSP(10);
        }
    }
    .go-top{
        position: absolute;
        right: vwSP(20);
    }
}
.ft-mid{
    background:url(../../img/ft-bg.png);
    padding: vwSP(40) 0;
    .ft-menu{
        li{
            a{
                display: block;
                font-size: vwSP(30);
                color: #fff;
                padding: vwSP(15) 0;
            }
        }
    }
}
.ft-bot{
    background: #358dcc;
    min-height: vwSP(150);
    padding-top: vwSP(30);
}
.copy-r {
    font-size: 11px;
    color: #fff;
    opacity: .5;
    text-align: center;
    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: #ccc;
        }
    }
}

@include pc() {
    #go-top {
        font-size: vwPC(50);
        width: vwPC(60);
        height: vwPC(60);
    }
    footer {
        text-align: left;
    }
    .view-map{
        padding: vwPC(60px) 0;
        display: flex;
        >a{
            width: 50%;
            &:first-child{
                margin-right: 40px;
            }
        }
    }
    .ft-bg{
        position: relative;
        transform: perspective(1px);
        background: #358dcc;
        overflow: hidden;
        &:after{
            content: '';
            background: url(../img/ft-bg.png) no-repeat;
            background-size: cover;
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            width: vwPC(500px);
            height: 100%;
        }
        &--wrapper{
            width: vwPC(900px);
            margin: auto;
        }
    }
    .ft-top{
        display: block;
        background: none;
    }
    .ft-mid{
        background: none;
        padding: 0;
        display: flex;
        align-items: flex-end;
        .ft-menu{
            font-size: 0;
            display: inline-block;
            flex: 0 0 vwPC(670px);
            li{
                display: inline-block;
                a{
                    font-size: vwPC(16px);
                    padding: vwPC(15px) vwPC(32px);
                    border-top: 1px solid #66a5d7;
                    border-bottom: 1px solid #66a5d7;
                }
            }
        }
        .ft-logo{
            font-size: 0;
        }
    }
    .ft-bot{
        background: 0;
        padding: 0;
        min-height: vwPC(60px);
    }
    .copy-r {
        text-align: left;
        margin-top: vwPC(180);
        margin-left: vwPC(700px);
    }
}

@include lg() {
    // #go-top {
    //     font-size: vwPC(50);
    //     width: vwPC(60);
    //     height: vwPC(60);
    // }
    // .view-map{
    //     padding: 60px 0;
    //     >a{
    //         &:first-child{
    //             margin-right: 40px;
    //         }
    //     }
    // }
    // .ft-bg{
    //     &:after{
    //         width: vwPC(500px);
    //     }
    //     &--wrapper{
    //         width: 900px;
    //     }
    // }
    // .ft-mid{
    //     .ft-menu{
    //         flex: 0 0 670px;
    //         li{
    //             a{
    //                 font-size: 16px;
    //                 padding: 15px 32px;
    //             }
    //         }
    //     }
    // }
    // .ft-bot{
    //     min-height: 60px;
    // }
    // .copy-r {
    //     margin-top: vwPC(180);
    //     margin-left: 700px;
    // }
}