.admin-bar .navbar {
    position: relative;
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background: transparentize(#fff, 0);
    border-bottom: 1px solid #ccc;

}

//menu animation
.nav-toggle {
    z-index: 99;
    line-height: 1;
    display: inline-block;
    background-color: #fff;
    outline: none;
    padding: 0 vwSP(27);
    margin-right: 30px;
    margin-left: auto;
    border: 0;

    .icon-menu {
        position: relative;
        display: inline-block;
        width: vwSP(59);
        height: vwSP(50);
        vertical-align: middle;
        fill: none;

        .line {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 7px;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
            background-color: #5687c0;
            border-radius: 10px;
        }

        .line-1 {
            top: 0;
        }

        .line-2 {
            top: 44.5%;
        }

        .line-3 {
            bottom: 0;
        }
    }
}

nav.nav-container {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    background-color: #707070;
    @include translate(100%, 0);
    transition: all .3s;

    ul {
        width: 100%;
        background: #fff;
        padding-left: 0;

        li {
            display: block;
            text-align: left;

            +li {
                a {
                    border-top: 2px solid #707070;
                }
            }

            a {
                display: block;
                color: #707070;
                font-size: vwSP(30);
                line-height: vwSP(32);
                padding: vwSP(39) vwSP(49) vwSP(29);
                padding-left: vwSP(45);

                &:after {
                    font-family: "FontAwesome";
                    content: "\f105";
                    float: right;
                    font-size: vwSP(50);
                    line-height: .8;
                    color: #707070;
                }
            }
        }
    }
}

.is-active {
    .icon-menu {
        .line-1 {
            transform: translateY(vwSP(21)) translateX(0) rotate(45deg);
        }

        .line-2 {
            opacity: 0;
        }

        .line-3 {
            transform: translateY(vwSP(-21)) translateX(0) rotate(-45deg);
        }
    }

    .navbar nav.nav-container {
        display: block;
        @include translate(0, 0);
    }
}

@include pc() {
    .admin-bar .navbar {
        top: 32px;
    }

    .navbar {
        z-index: 10;
        background: transparentize(#fff, .2);
        display: flex;
        align-items: center;

        nav.nav-container {
            position: static;
            width: initial;
            height: initial;
            background: none;
            transform: none;
            margin-left: auto;
            margin-right: vwPC(-220);

            ul {
                background: none;
                text-align: center;
                font-size: 0;
                // padding-left: vwPC(276);

                li {
                    display: inline-block;
                    font-size: 14px;
                    padding: 0 10px;

                    a {
                        font-size: vwPC(16);
                        line-height: vwPC(15);
                        color: #000;
                        text-decoration: none;
                        padding: vwSP(28) vwPC(18) vwSP(12);
                        border: none;
                        border-bottom: vwPC(4) solid transparent;

                        &:hover {
                            // color: #9fb328;
                            border-bottom-color: #00cdff;
                        }

                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    .nav-toggle {
        display: none;
    }
}
@include lg(){
    .navbar nav.nav-container ul li a{
        font-size: 30px;
    }
}