@import "../import/_variable";
@import "../import/_mixin";
@import "../import/_function";
@import "../import/_placeholder";

//@import "../import/_fonts";
%title {
    font-family: "Times New Roman", serif;
    color: #358dcc;
    font-size: vwSP(35);
    text-transform: uppercase;
    margin-bottom: vwSP(5);
}

%sub-title {
    color: #002040;
    font-size: vwSP(25);
    text-decoration: none;
    display: block;
    margin: 0;
}
%title2{
    color: #00008f;
    font-size: 40px;
    font-weight: bold;
}
%subtitle2{
    font-size: 35px;
    &.bird{
        &-l:before{
            content: url(../img/pp-bird-l.png);
            vertical-align: sub;
            margin-right: 5px;
        }
        &-r:after{
            content: url(../img/pp-bird.png);
            vertical-align: sub;
            margin-left: 5px;
        }
    }
}

.title-bg {
    background: url(../img/title-bg.png) no-repeat;
    background-position: 60% 70%;
    padding: 60px 0;
    margin-bottom: 30px;
}

.read-more {
    font-size: vwSP(28);
    color: #fff;
    display: inline-block;
    background: #002040;
    text-align: center;
    border-radius: vwSP(10);
    text-decoration: none;
    padding: vwSP(26) vwSP(71) vwSP(24);
    margin: vwSP(42) 0 vwPC(51);

    &:hover {
        @include brightness(1.2)
    }
}

.sc-info {
    &--title {
        @extend %title;
    }

    &--sub-title {
        @extend %sub-title;
    }

    .info {
        font-size: vwSP(20);
        width: vwSP(608);
        margin: auto;
        margin-bottom: vwSP(20);

        .info-time {
            margin-bottom: vwSP(10);
        }
    }
}

.sc-buss {
    &--title {
        @extend %title;
    }

    &--sub-title {
        @extend %sub-title;
    }

    &--wrapper {
        width: vwSP(636);
        margin: auto;
    }

    .top {
        text-align: center;
        background: #ecf8fc;
        padding: vwSP(60) 0;

        .desc {
            background: #f5fcfe;
            font-size: 25px;
            text-align: left;
            padding: vwSP(40) vwSP(60);
            box-shadow: 0 0 5px transparentize(#000, .8);
            margin-bottom: vwSP(80);
        }
    }

    .department {
        position: relative;
        background: url(../img/depart-bg.png) center center no-repeat;
        background-size: 100% 100%;
        text-align: center;
        padding: 0 vwSP(15) vwSP(20);
        transform: perspective(1px) translateZ(0);
        border: 2px solid #fff;

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: vwSP(20);
            right: vwSP(20);
            bottom: vwSP(21);
            left: vwSP(20);
            border: 2px solid #fff;
        }

        .label {
            position: relative;
            display: inline-block;
            margin-bottom: vwSP(15);

            .dp-mid-center {
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                color: #fff;
                font-size: vwSP(20);
                text-transform: uppercase;
            }
        }

        .summary {
            width: vwSP(433);
            margin: auto;

            .heading {
                color: #358dcc;
                margin-bottom: vwSP(10);
            }
        }

        .arrow-down {
            img {
                margin-top: vwSP(10);
                margin-bottom: vwSP(10);
            }
        }
    }

    .depart-content {
        background: url(../img/depart-content-bg.png);
        padding: vwSP(60) 0;

        .card {
            width: vwSP(635);
            background: #fff;
            padding: vwSP(40);
            margin: auto;
            margin-bottom: vwSP(40);
            border-radius: 4px;
            box-shadow: 0 0 5px transparentize(#000, .9);

            &--heading {
                color: #00008f;
                font-size: vwSP(30);
                margin-bottom: vwSP(30);

                .icon {
                    display: inline-block;
                    vertical-align: middle;
                    width: vwSP(90);
                    height: vwSP(90);
                    background: #358dcc;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    box-shadow: 0 1px 2px transparentize(#000, .5);
                }
            }

            .txt {
                font-size: vwSP(30);
            }
        }
    }
}

.sc-recruit {
    &--title {
        @extend %title;
    }

    &--sub-title {
        @extend %sub-title;
    }

    .recruit-box {
        position: relative;

        .link1,
        .link2 {
            position: absolute;
            font-size: vwSP(30);
            text-align: center;
            width: vwSP(340);
            color: #fff;

            a {
                color: #fff;
            }
        }

        .link1 {
            top: vwSP(450);
            left: vwSP(100);
        }

        .link2 {
            top: vwSP(300);
            right: vwSP(100);
        }
    }
}

.sc-outline {
    &--title {
        @extend %title;
    }

    &--sub-title {
        @extend %sub-title;
    }

    .outline-bg {
        background: url(../img/depart-content-bg.png);
        padding: vwSP(60) 0;
    }

    .outline-table {
        width: vwSP(636);
        margin: auto;

        .row {
            display: flex;
            margin-bottom: vwSP(10);

            .left,
            .right {
                min-height: vwSP(90);
                padding: vwSP(20) vwSP(15);
                box-shadow: 0 0 6px transparentize(#000, .9);
            }

            .left {
                font-weight: bold;
                text-align: right;
                background: #e4eff3;
                margin-right: 1px;
                flex: 0 0 29%;
            }

            .right {
                background: #fff;
                flex: 1 1 100%;
            }
        }
    }
}

.access {
    display: flex;
    flex-direction: column;

    &--title {
        @extend %title;
    }

    &--subtitle {
        @extend %sub-title;
    }

    &--heading {
        text-align: center;
        background: url(../img/access-bg.png);
        background-size: cover;
        min-height: vwSP(120);
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        .heading-top {
            font-size: vwSP(30);
            font-weight: bold;
        }

        .heading-bot {
            font-weight: bold;
            text-align: center;
            color: #00008f;
        }
    }

    &--map {
        background: #000;
    }
}

.contact {
    &--title {
        @extend %title;
    }

    &--subtitle {
        @extend %sub-title;
    }

    &--bg {
        background: url(../img/depart-content-bg.png);
    }

    &--wrapper {
        width: vwSP(630);
        padding: vwSP(60) 0;
        margin: auto;
    }

    .form-name {
        text-align: center;
        font-size: vwSP(25);
        color: #358dcc;
        margin-bottom: vwSP(20);
    }

    &--form {
        label {
            display: block;
            margin-bottom: vwSP(15);

            span {
                display: block;
                font-size: vwSP(30);
                font-weight: bold;
                padding-bottom: vwSP(10);
            }
        }

        input,
        select,
        textarea {
            color: #ccc;
            display: block;
            width: 100%;
            padding: 15px 20px;
            border: 1px solid #eee;
            margin-bottom: vwSP(10);
        }

        .submit {
            display: block;
            width: vwSP(500);
            margin: auto;
            background: #358dcc;
            color: #fff;
            border: none;
            padding: vwSP(15) vwSP(20);
            border-radius: 5px;

            .fa {
                font-size: 30px;
            }
        }
    }
}
.message{
    .sc-heading{
        padding: 50px 0;
    }
    &--title{
        @extend %title2;
    }
    &--subtitle{
        @extend %subtitle2;
    }
    &--click{
        position: relative;
        .dp-mid-center{
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
            span{
                display: block;
                color: #00008f;
            }
        }
    }
}

@include pc() {

    .sc-info--title,
    .sc-buss--title,
    .sc-recruit--title,
    .sc-outline--title,
    .access--title,
    .contact--title {
        font-size: vwPC(25);
    }

    .sc-info--sub-title,
    .sc-buss--sub-title,
    .sc-recruit--sub-title,
    .sc-outline--sub-title,
    .access--subtitle,
    .contact--subtitle {
        font-size: vwPC(20);
    }

    .sc-info {
        margin-top: vwSP(60);

        .info {
            font-size: vwPC(20);
            width: vwPC(800);
        }
    }

    .sc-buss {
        &--wrapper {
            width: vwPC(800);
        }

        .top {
            padding: vwPC(60) 0;
            .desc {
                padding: vwPC(30) vwPC(60);
            }
        }

        .bot {
            .department {
                width: 50%;
                float: left;

                &:after {
                    top: vwPC(22);
                    right: vwPC(21);
                    left: vwPC(21);
                    bottom: vwPC(25);
                }

                .label {
                    margin-bottom: vwPC(15px);
                }

                .dp-mid-center {
                    font-size: vwPC(21px);
                }

                .summary {
                    width: vwPC(400);
                }
            }
        }

        .depart-content {
            clear: both;
            padding-top: vwPC(60px);

            .card {
                width: vwPC(1002px);
                padding: vwPC(30px);
                margin-bottom: vwPC(20px);
                &--heading {
                    font-size: vwPC(30px);
                    margin-bottom: vwPC(5px);

                    .icon {
                        width: vwPC(70px);
                        height: vwPC(70px);
                        float: left;
                        margin-right: vwPC(30px);
                    }
                }

                .txt {
                    font-size: vwPC(20px);
                    overflow: hidden;
                }
            }
        }
    }

    .sc-recruit {
        .recruit-box {

            .link1,
            .link2 {
                text-transform: uppercase;
                font-size: vwPC(25px);
                width: vwPC(378px);
            }

            .link1 {
                top: vwPC(200px);
                left: vwPC(300px);
            }

            .link2 {
                top: vwPC(282px);
                right: vwPC(260px);
            }
        }
    }

    .sc-outline {
        .outline-bg {
            padding: vwPC(60) 0;
        }

        .outline-table {
            width: vwPC(1000px);

            .row {
                margin-bottom: vwPC(2px);

                .left,
                .right {
                    min-height: vwPC(60px);
                    padding: vwPC(20px) vwPC(18px);
                }

                .left {
                    flex: 0 0 24%;
                }
            }
        }
    }

    .access {
        &--box {
            display: flex;
        }

        &--heading {
            flex: 0 0 vwPC(480px);

            .heading-top {
                font-size: vwPC(30px);
            }

            .heading-bot {
                position: relative;
                font-size: vwPC(30px);
                text-align: center;
                margin-top: vwPC(15px);

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: vwPC(150px);
                    top: vwPC(-10px);
                    left: 50%;
                    @include translate(-50%, 0);
                    border-top: 2px solid #00008f;
                }
            }
        }

        &--map {
            flex-grow: 1;
        }
    }

    .contact {
        &--wrapper {
            width: vwPC(563px);
            padding: vwPC(40px) 0 vwPC(80px);
        }

        .form-name {
            font-size: vwPC(16px);
        }

        &--form {
            label {
                display: flex;
                justify-content: flex-end;
                span {
                    font-size: vwPC(20px);
                    text-align: right;
                }

                input,
                select,
                textarea {
                    flex: 0 0 vwPC(400px);
                    margin-left: vwPC(20px);
                }
            }
            .submit{
                width: vwPC(400px);
                margin-left: auto;
                margin-right: 0;
                padding: vwPC(15px) 0;
            }
        }
    }
    
}

@include lg() {
    .read-more {
        font-size: 18px;
        padding: 22px 76px 19px;
        border-radius: 5px;
    }
    .sc-info--title,
    .sc-buss--title,
    .sc-recruit--title,
    .sc-outline--title,
    .access--title,
    .contact--title {
        font-size: 25px;
    }

    .sc-info--sub-title,
    .sc-buss--sub-title,
    .sc-recruit--sub-title,
    .sc-outline--sub-title,
    .access--subtitle,
    .contact--subtitle {
        font-size: 20px;
    }
    .sc-info {
        margin-top: 60px;

        .info {
            font-size: 20px;
            width: 800px;
        }
    }

    .sc-buss {
        &--wrapper {
            width: 800px;
        }

        .top {
            padding: 60px 0;
            .desc {
                padding: 30px 60px;
                margin-bottom: 50px;
            }
        }

        .bot {
            .department {
                width: 50%;
                float: left;

                &:after {
                    top: 22px;
                    right: 21px;
                    left: 21px;
                    bottom: 25px;
                }

                .label {
                    margin-bottom: 15px;
                }

                .dp-mid-center {
                    font-size: 21px;
                }

                .summary {
                    width: 400px;
                }
            }
        }

        .depart-content {
            clear: both;
            padding-top: 60px;

            .card {
                width: 1002px;
                padding: 30px;
                margin-bottom: 20px;

                &--heading {
                    font-size: 30px;
                    margin-bottom: 5px;

                    .icon {
                        width: 70px;
                        height: 70px;
                        float: left;
                        margin-right: 30px;
                    }
                }

                .txt {
                    font-size: 20px;
                    overflow: hidden;
                }
            }
        }
    }

    .sc-recruit {
        .recruit-box {

            .link1,
            .link2 {
                text-transform: uppercase;
                font-size: 25px;
                width: 378px;
            }

            .link1 {
                top: 200px;
                left: 300px;
            }

            .link2 {
                top: 282px;
                right: 260px;
            }
        }
    }

    .sc-outline {
        .outline-bg {
            padding: 60px 0;
        }

        .outline-table {
            width: 1000px;

            .row {
                margin-bottom: 2px;

                .left,
                .right {
                    min-height: 60px;
                    padding: 20px 18px;
                }

                .left {
                    flex: 0 0 24%;
                }
            }
        }
    }

    .access {
        &--box {
            display: flex;
        }

        &--heading {
            flex: 0 0 480px;

            .heading-top {
                font-size: 30px;
            }

            .heading-bot {
                position: relative;
                font-size: 30px;
                text-align: center;
                margin-top: 15px;

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 150px;
                    top: -10px;
                    left: 50%;
                    @include translate(-50%, 0);
                    border-top: 2px solid #00008f;
                }
            }
        }

        &--map {
            flex-grow: 1;
        }
    }

    .contact {
        &--wrapper {
            width: 563px;
            padding: 40px 0 80px;
        }

        .form-name {
            font-size: 16px;
        }

        &--form {
            label {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0;
                span {
                    font-size: 20px;
                    text-align: right;
                }

                input,
                select,
                textarea {
                    flex: 0 0 400px;
                    margin-left: 20px;
                    margin-bottom: 15px;
                }
            }
            .submit{
                width: 400px;
                margin-left: auto;
                margin-right: 0;
                padding: 15px 0;
            }
        }
    }

}